{
  "project_info": {
    "project_number": "ВАШ_PROJECT_NUMBER",
    "project_id": "ВАШ_PROJECT_ID",
    "storage_bucket": "ВАШ_STORAGE_BUCKET"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "ВАШ_APP_ID",
        "android_client_info": {
          "package_name": "com.zchat.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "ВАШ_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
